<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.booking.common.mapper.OrderMapper">
    <select id="selectLikeList" parameterType="com.booking.common.entity.OrderEntity" resultMap="orderResult">
        SELECT * FROM (
        SELECT ord.* ,tosr.shop_id as shop_id FROM `booking`.`t_order` ord LEFT JOIN `booking`.`t_order_shop_rel` tosr
        ON tosr.order_id = ord.id
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="id != null">AND ord.`id` like '%${id}%'</if>
            <if test="orderNo != null">AND ord.`order_no` like '%${orderNo}%'</if>
            <if test="orderStatus != null">AND ord.`order_status` like '%${orderStatus}%'</if>
            <if test="totalPrice != null">AND ord.`total_price` = #{totalPrice}</if>
            <if test="totalPriceFromWeb != null">AND ord.`total_price_from_web` = #{totalPriceFromWeb}</if>
            <if test="orderTime != null">AND ord.`order_time` like '%${orderTime}%'</if>
            <if test="orderType != null">AND ord.`order_type` like '%${orderType}%'</if>
            <if test="concatPhone != null">AND ord.`concat_phone` like '%${concatPhone}%'</if>
            <if test="createTime != null">AND ord.`create_time` = #{createTime}</if>
            <if test="updateTime != null">AND ord.`update_time` = #{updateTime}</if>
            <if test="createTimeStart != null">and ord.create_time &gt;= #{createTimeStart}</if>
            <if test="createTimeEnd != null">and ord.create_time &lt;= #{createTimeEnd}</if>
            <if test="updateTimeStart != null">and ord.update_time &gt;= #{updateTimeStart}</if>
            <if test="updateTimeEnd != null">and ord.update_time &lt;= #{updateTimeEnd}</if>
        </trim>
        ) T
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="shopId != null">AND T.`shop_id` = #{shopId}</if>
        </trim>
    </select>

    <update id="updatePayStatusWithLock" parameterType="com.booking.common.entity.OrderEntity">
        <![CDATA[
            update `booking`.`t_order`
            set order_status=#{orderStatus},transaction_id=#{transactionId},lock_version= lock_version + 1
            where id=#{id}  and lock_version=#{lockVersion}
        ]]>
    </update>

    <update id="updatePushStatusWithLock" parameterType="com.booking.common.entity.OrderEntity">
        <![CDATA[
            update `booking`.`t_order`
            set is_pushed=#{isPushed}, lock_version= lock_version + 1
            where id=#{id}  and lock_version=#{lockVersion}
        ]]>
    </update>



    <resultMap id="orderDetailResult" type="com.booking.common.entity.OrderDetailEntity">
        <result property="orderId" column="order_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="orderProductRelId" column="order_product_rel_id"/>
        <result property="productName" column="product_name"/>
        <result property="productId" column="product_id"/>
        <result property="specName" column="spec_name"/>
    </resultMap>


    <select id="selectOrderDetailList" parameterType="java.lang.String" resultMap="orderDetailResult">
        SELECT
        T.*,spec.name as spec_name
        FROM
        (
        SELECT DISTINCT
        ord.id AS order_id,
        ord.order_no,
        order_product_rel.id AS order_product_rel_id,
        product.title AS product_name,
        product.id as product_id
        FROM
        t_order ord
        LEFT JOIN t_order_product_rel order_product_rel ON order_product_rel.order_id = ord.id
        LEFT JOIN t_product product ON order_product_rel.product_id = product.id
        ORDER BY ord.order_no
        ) T
        LEFT JOIN t_order_product_spec_rel spec_rel ON spec_rel.order_product_rel_id = T.order_product_rel_id
        LEFT JOIN t_product_spec spec ON spec.id = spec_rel.spec_id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="orderNo!=null and orderNo != ''">
                AND T.order_no = #{orderNo}
            </if>
        </trim>

    </select>

</mapper>